@model IEnumerable<VgcCollege.Web.Models.FacultyProfile>

@{
    ViewData["Title"] = "Lecturers";
}

<h1>Lecturers</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Lecturer</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.IdentityUser?.Email</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>